# MacOS
**/.DS_Store

# VSCode
**/.vscode

# Python
**/__pycache__

# Data
#/data/*.csv

# Notebooks
/notebooks/*.ipynb
#/notebooks/*.py

# Paper
/paper

# Plots
/plots/*.png

# Nhanes cycles
data/bmx.csv
data/bpx.csv
data/dbq.csv
data/demo.csv
data/diq.csv
data/glu.csv
data/hdl.csv
data/nhanes_processed.csv
data/nhanes_raw.csv
data/paq.csv
data/trigly.csv
